<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamesLibrary.mapper.GameMapper">

	<select id="getOneById" resultType="String">
		select title from gamelist where gameid=1
	</select>

</mapper>